---
interface Props {
  nombre: string;
  ruta: string;
}
const { nombre, ruta } = Astro.props;
---

<a href={ruta} class="badge badge-soft badge-accent">
  <i class="bi bi-tag-fill"></i>
  {nombre}
</a>
