---
import Breadcumb from "@components/breadcumb/Breadcumb.astro";

import ListaPublicacionesMiembros2 from "@components/listas/ListaPublicacionesMiembros2.vue";
import Layout from "@layouts/Layout.astro";

const articulos = await fetch("http://localhost:4321/api/publicaciones").then(
  (res) => res.json()
);
---

<Layout title="Articulos publicados">
  <main class="prose max-w-full p-4">
    <Breadcumb
      items={[{ name: "Producción academica" }, { name: "Artículos" }]}
    />
    <h1>Artículos publicados</h1>
    <p>
      Lista de todos los artículos publicados por los miembros del cuerpo
      académico de Cómputo Distribuido.
    </p>
    <ListaPublicacionesMiembros2 data={articulos?.response ?? []} client:idle />
  </main>
</Layout>
