---
import { formatDate } from "@assets/format";
import Breadcumb from "@components/breadcumb/Breadcumb.astro";
import DocumentList from "@components/DocumentList.vue";
import Layout from "@layouts/Layout.astro";

const minutas: {
  files: {
    url: string;
    fileName: string;
    fechaCreacion: string;
    fechaCreacionFormated: string;
  }[];
} = await fetch("http://localhost:4321/api/minutas").then((res) => res.json());

const years = new Set<string>();

if (minutas.files.length > 0) {
  minutas.files.forEach((el) => {
    const year = formatDate(el.fechaCreacion, "YYYY");
    years.add(year);
  });
}

minutas.files.forEach(
  (el) => (el.fechaCreacionFormated = formatDate(el.fechaCreacion, "MMMM YYYY"))
); //añade la fecha formateada desde el servidor para evitar problemas de hidratación
---

<Layout title="Minutas del CA">
  <main class="prose max-w-full p-4">
    <Breadcumb items={[{ name: "Documentos" }, { name: "Minutas" }]} />
    <h1>Minutas</h1>
    <DocumentList
      years={Array.from(years)}
      minutas={minutas.files}
      client:idle
    />
  </main>
</Layout>
