---
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 | No encontrado.">
  <main class="h-96 flex flex-col justify-center items-center gap-4">
    <h1 class="font-bold text-8xl">404</h1>
    <span class="text-secondary/80">Página no encontrada.</span>
    <a href="/" class="btn btn-secondary">
      Volver al inicio <i class="bi bi-house-fill"></i>
    </a>
  </main>
</Layout>
