---
import Layout from "../layouts/Layout.astro";
import BlogsContainer from "@components/gui/BlogsContainer.astro";
import CarouselA from "@components/gui/Carousel.astro";
import YoutubeVideos from "@components/gui/YoutubeVideos.astro";

const banners = await fetch(
  "http://localhost:4321/api/banners?mostrar=true"
).then((res) => res.json());
---

<Layout title="CA - cómputo distribuido.">
  <main>
    <CarouselA banners={banners?.response ?? []} />
    <YoutubeVideos />
    <BlogsContainer />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
      <div class="card bg-accent text-accent-content shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Misión</h2>
          <p class="text-balance">
            Contribuir con el mejoramiento de la formación académica de los
            estudiantes de la carrera de Ingeniería en Sistemas computacionales
            del Instituto tecnológico Superior de los Ríos.
          </p>
        </div>
      </div>
      <div class="card bg-secondary text-secondary-content shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Visión</h2>
          <p class="text-balance">
            Lograr la consolidación del cuerpo académico a través del incremento
            de nuestra producción académica, investigación con reconocimiento
            nacional e internacional.
          </p>
        </div>
      </div>
      <div class="card bg-neutral text-neutral-content shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Objetivos</h2>
          <p class="text-balance">
            Desarrollar un cuerpo académico para el desarrollo de proyectos de
            investigación, dirección de tesís, desarrollo de aplicación de
            sistema distribuido, así como el mejoramiento de los planes de
            estudios de la carrera.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
