---
import CardMVO from "@components/cards/CardMVO.astro";
import Layout from "../layouts/Layout.astro";
import BlogsContainer from "@components/gui/BlogsContainer.astro";
import CarouselA from "@components/gui/Carousel.astro";
//import YoutubeVideos from "@components/gui/YoutubeVideos.astro";

const banners = await fetch(
  "http://localhost:4321/api/banners?mostrar=true"
).then((res) => res.json());
---

<Layout title="Cuerpo Académico - Cómputo Distribuido">
  <main>
    <CarouselA banners={banners?.response ?? []} />
    <!-- <YoutubeVideos /> -->
    <BlogsContainer />
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 px-4 py-10 gap-4 place-items-center"
    >
      <CardMVO>
        <Fragment slot="card-icon">
          <i class="bi bi-search text-7xl text-secondary"></i>
        </Fragment>
        <Fragment slot="card-title">Misión</Fragment>
        <Fragment slot="card-body">
          Contribuir con el mejoramiento de la formación académica de los
          estudiantes de la carrera de Ingeniería en Sistemas computacionales
          del Instituto tecnológico Superior de los Ríos.
        </Fragment>
      </CardMVO>
      <CardMVO>
        <Fragment slot="card-icon">
          <i class="bi bi-eye text-7xl text-accent"></i>
        </Fragment>
        <Fragment slot="card-title">Visión</Fragment>
        <Fragment slot="card-body">
          Lograr la consolidación del cuerpo académico a través del incremento
          de nuestra producción académica, investigación con reconocimiento
          nacional e internacional.
        </Fragment>
      </CardMVO>

      <CardMVO>
        <Fragment slot="card-icon">
          <i class="bi bi-graph-up-arrow text-7xl text-info"></i>
        </Fragment>
        <Fragment slot="card-title">Objetivos</Fragment>
        <Fragment slot="card-body">
          Desarrollar un cuerpo académico para el desarrollo de proyectos de
          investigación, dirección de tesís, desarrollo de aplicación de sistema
          distribuido, así como el mejoramiento de los planes de estudios de la
          carrera.
        </Fragment>
      </CardMVO>
    </div>
  </main>
</Layout>
<style>
  .bg-image {
    background-image: url("/mision.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-image-1 {
    background-image: url("/mision.png");
    background-position: top left;
  }
  .bg-image-2 {
    background-image: url("/mision.png");
    background-position: top right;
  }
  .bg-image-3 {
    background-image: url("/mision.png");
    background-position: center right;
  }
</style>
