---
import CardBlog from "@components/cards/CardBlog.astro";
import CardBlog2 from "@components/cards/CardBlog2.astro";

const blogs: {
  response?: {
    blogs: { titulo: string; fecha: string; imagen: string; idblog: number }[];
  };
} = await fetch(`http://localhost:4321/api/blogs?status=aceptado&limit=3`).then(
  (res) => res.json()
);
---

<div class="prose max-w-full p-4">
  <h1>Eventos destacados</h1>
  <div
    class="not-prose gap-4 place-items-center place-content-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    {
      blogs.response?.blogs && blogs.response?.blogs.length > 0 && (
        <>
          {blogs.response?.blogs.map((el) => (
            <CardBlog2
              titulo={el.titulo}
              imagen={el.imagen}
              fecha={el.fecha}
              id={el.idblog}
            />
          ))}
          <div class="card bg-base-100 image-full w-full h-100 shadow-sm">
            <figure>
              <img
                class="object-cover h-full w-full"
                src="/eventos.webp"
                alt="Shoes"
              />
            </figure>
            <div class="card-body items-end justify-end">
              {/* <h2 class="card-title">Card Title</h2> */}
              {/* <p>
                A card component has a figure, a body part, and inside body
                there are title and actions parts
              </p> */}
              <div class="card-actions justify-end">
                <a href="/content/evento" class="btn btn-primary">
                  Ver todos los eventos
                </a>
              </div>
            </div>
          </div>
          {/*           <div class="md:col-span-2 lg:col-span-3 w-full flex justify-center">
            <a class="btn btn-primary w-1/2" href="/content/evento">
              Ver todos
            </a>
          </div> */}
        </>
      )
    }
    {
      blogs.response?.blogs && blogs.response?.blogs.length < 1 && (
        <div class="h-96 flex flex-col justify-center items-center gap-4 md:col-span-2 lg:col-span-3">
          <i class="bi bi-clouds text-9xl" />
          <h1 class="text-xl">Sin eventos recientes</h1>
        </div>
      )
    }
  </div>
</div>
