<div class="dropdown dropdown-hover">
  <div tabindex="0" role="button" class="btn btn-ghost">
    <slot name="dropdown-name" />
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
  >
    <li>
      <ul>
        <slot name="dropdown-items" />
      </ul>
    </li>
  </ul>
</div>
