---
import { formatYear } from "@assets/format";
const actualDate = new Date(Date.now());

const fDate = formatYear(actualDate);
---

<footer
  class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10"
>
  <aside>
    <img src="/logo.webp" width="150px" alt="logo" />
    <p>
      <p>
        <i class="bi bi-c-circle"></i>
        <span>{fDate}</span> Cuerpo Académico - Cómputo Distribuido
      </p>
      <br />
      Última actualización, septiembre 2025.
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Ubicación</h6>
    <div class="grid grid-cols-1 gap-4">
      <p>
        <i class="bi bi-geo-alt-fill"></i> Km. 3 carretera Balancán-Villahermosa,
        Balancán, Tabasco C.P. 86930
      </p>
      <p><i class="bi bi-telephone-fill"></i> 934 - 115 - 1443</p>
      <a
        href="https://maps.app.goo.gl/DVs2mPFzfHBDdCXj9"
        class="link"
        target="_blank"
      >
        Ver en Google Maps <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  </nav>
</footer>
