<div
  class="min-h-10 bg-base-100 w-full flex gap-4 flex-wrap justify-end items-center px-4"
>
  <a
    href="https://rios.tecnm.mx/rios/"
    target="_blank"
    class="btn btn-xs btn-info">TecNM Campus de los Ríos</a
  >
  <!--   <a class="btn btn-xs btn-info" href="/">Gobierno</a>
  <a class="btn btn-xs btn-info" href="/">Participa</a>
  <a class="btn btn-xs btn-info" href="/">Datos</a> -->
</div>
