<div class="min-h-10 bg-primary text-base-100 w-full lg:grid lg:grid-cols-3">
  <span class="my-auto">TecNM Campus de los Ríos</span>
  <div class="flex justify-end gap-4 not-prose col-span-2 items-center px-4">
    <a class="link link-hover font-bold text-sm" href="/">Gobierno</a>
    <a class="link link-hover font-bold text-sm" href="/">Participa</a>
    <a class="link link-hover font-bold text-sm" href="/">Datos</a>
  </div>
</div>
<!--  <div class="min-h-20 bg-white">
        barra blanca
    </div> -->
