<div
  class="mi-h-10 bg-primary text-primary-content w-full lg:grid lg:grid-cols-3"
>
  <span class="my-auto">TecNM Campus de los Ríos</span>
  <div class="flex justify-end gap-2 not-prose col-span-2">
    <a class="btn btn-ghost" href="/">Gobierno</a>
    <a class="btn btn-ghost" href="/">Participa</a>
    <a class="btn btn-ghost" href="/">Datos</a>
  </div>
</div>
<!--  <div class="min-h-20 bg-white">
        barra blanca
    </div> -->
