---
import { Image } from "astro:assets";
import NavBarItems from "./NavBarItems.astro";
import ThemeSwitch from "./ThemeSwitch.vue";
---

<div
  class="navbar bg-base-100/80 shadow-sm backdrop-blur-sm h-20 w-full z-40 sticky top-0"
  transition:name="navbar"
  transition:persist
>
  <div class="navbar-start">
    <div class="flex-none lg:hidden">
      <label
        for="side-menu"
        aria-label="open sidebar"
        class="btn btn-square btn-ghost size-10"
      >
        <i class="bi bi-list text-3xl"></i>
      </label>
    </div>
    <a href="/" class="btn btn-ghost text-xl"
      ><Image
        src="/logo.webp"
        alt="logo"
        class="h-full object-contain"
        width={100}
        height={300}
        loading="eager"
      /></a
    >
  </div>
  <div class="navbar-center hidden lg:flex">
    <NavBarItems />
  </div>
  <div class="navbar-end">
    <ThemeSwitch
      client:load
      transition:persist
      transition:name="theme-switch"
    />
    <a href="/login" class="btn btn-ghost">Iniciar sesión</a>
  </div>
</div>
