---
import NavBarItems from "./NavBarItems.astro";
import ThemeSwitch from "./ThemeSwitch.vue";
const { user } = Astro.locals;
---

<nav
  class="navbar bg-base-200/80 backdrop-blur-sm min-h-20 w-full z-40 sticky top-0"
  transition:name="navbar"
  transition:persist
>
  <div class="flex-none lg:hidden">
    <label
      for="my-drawer-3"
      aria-label="open sidebar"
      class="btn btn-square btn-ghost size-10"
    >
      <i class="bi bi-list text-3xl"></i>
    </label>
  </div>
  <div class="navbar-start grow justify-center lg:justify-start lg:grow-0">
    <a href="/" class="btn btn-ghost" title="Inicio">
      <img
        src="/logo.webp"
        alt="logo"
        class="h-full object-contain"
        width="100px"
        height="300px"
        loading="eager"
      />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <NavBarItems />
    <a
      href="/login"
      class="rounded-btn hover:bg-base-content/10 py-2 px-4 text-sm mb-1"
    >
      {user?.id ? "Ir al panel" : "Iniciar sesión"}
    </a>
  </div>
  <div class="navbar-end w-min lg:w-1/2">
    <ThemeSwitch
      client:load
      transition:persist
      transition:name="theme-switch"
    />
    <!-- <label class="swap swap-rotate">
      <input type="checkbox" class="theme-controller" value="night" />

      <div
        class="swap-on fill-current flex justify-center items-center size-10"
      >
        <i class="bi bi-sun-fill text-xl"></i>
      </div>
      <div
        class="swap-off fill-current flex justify-center items-center size-10"
      >
        <i class="bi bi-moon-fill text-xl"></i>
      </div>
    </label> -->
  </div>
</nav>
