---
import Layout from "@layouts/Layout.astro";
const { searchParams } = Astro.url;
import Pagination from "@components/gui/Pagination.vue";
import CardBlog2 from "@components/cards/CardBlog2.astro";
import Breadcumb from "@components/breadcumb/Breadcumb.astro";

interface eventos {
  response?: {
    blogs: { titulo: string; fecha: string; idblog: number; imagen: string }[];
    totalPages: number;
    currentPage: number;
  };
}

const page = searchParams.get("page");

const eventos: eventos = await fetch(
  `http://localhost:4321/api/blogs?status=aceptado&limit=10&page=${page ?? 0}`
).then((res) => res.json());

if (eventos.response?.blogs && eventos.response?.blogs.length < 1) {
  return Astro.redirect("/404");
}
---

<Layout title="Todos los eventos">
  <main class="prose max-w-full w-full p-4">
    <Breadcumb items={[{ name: "Eventos" }]} />
    <h1>Todos los eventos</h1>
    <div
      class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 not-prose"
    >
      {
        eventos.response?.blogs.map((el: any) => (
          <CardBlog2
            titulo={el.titulo}
            fecha={el.fecha}
            id={el.idblog}
            imagen={el.imagen}
          />
        ))
      }
    </div>
    <div class="not-prose w-full flex justify-center pt-4">
      <Pagination
        totalPages={eventos.response?.totalPages ?? 0}
        actualPage={eventos.response?.currentPage ?? 0}
      />
    </div>
  </main>
</Layout>
