---
interface Props {
  sectionTitle: string;
}
const { user } = Astro.locals;
const { sectionTitle } = Astro.props;
import { ClientRouter } from "astro:transitions";
import "vue3-toastify/dist/index.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import { validatePerm, permType } from "@assets/auth/validatePerm";
import LogoutButton from "@components/panel/LogoutButton.vue";
---

<!doctype html>
<html lang="es" data-theme="business">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>Panel de administración</title>
  </head>
  <body class="w-screen h-screen overflow-x-hidden">
    <div class="drawer drawer-open h-full w-full">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content overflow-y-auto h-full w-full p-4">
        <div class="prose max-w-full w-full">
          <h1 class="mb-0">{sectionTitle}</h1>
          <div class="divider"></div>
        </div>
        <slot />
      </div>
      <div class="drawer-side z-50" transition:persist>
        <label
          for="my-drawer-3"
          aria-label="close sidebar"
          class="drawer-overlay"></label>
        <ul
          class="menu bg-base-200 rounded-box w-60 h-screen flex-nowrap overflow-y-auto"
        >
          <li><a href="/panel">Inicio</a></li>
          {
            !(await validatePerm(user?.idRol, permType.r, "banners")) && (
              <li>
                <a href="/panel/banners">Banners</a>
              </li>
            )
          }
          {
            !(await validatePerm(user?.idRol, permType.r, "articulos")) && (
              <li>
                <details open>
                  <summary>Articulos</summary>
                  <ul>
                    <li>
                      <a href="/panel/articulos/crear">Crear</a>
                    </li>
                  </ul>
                </details>
              </li>
            )
          }

          {
            !(await validatePerm(user?.idRol, permType.r, "etiquetas")) && (
              <li>
                <a href="/panel/etiquetas">Etiquetas</a>
              </li>
            )
          }
          {
            !(await validatePerm(user?.idRol, permType.r, "blogs")) && (
              <li>
                <details open>
                  <summary>Blogs</summary>
                  <ul>
                    <li>
                      <a href="/panel/blogs/lista">Lista de blogs</a>
                    </li>
                    <li>
                      <a href="/panel/blogs/add">Añadir nuevo blog</a>
                    </li>
                  </ul>
                </details>
              </li>
            )
          }
          <li>
            <details open>
              <summary>Documentos</summary>
              <ul>
                {
                  !(await validatePerm(user?.idRol, permType.r, "minutas")) && (
                    <li>
                      <a href="/panel/documentos/minutas">Minutas</a>
                    </li>
                  )
                }
              </ul>
            </details>
          </li>
          {
            !(await validatePerm(user?.idRol, permType.r, "proyectos")) && (
              <li>
                <a href="/panel/proyectos">Proyectos</a>
              </li>
            )
          }
          <li>
            <a href="/panel/publicaciones">Publicaciones</a>
          </li>
          {
            user?.idRol === 1 && (
              <li>
                <a href="/panel/logs">Logs</a>
              </li>
            )
          }

          <div class="sticky bottom-0 bg-base-100/80 backdrop-blur-sm">
            <div class="divider mt-0"></div>
            <div class="grid grid-cols-2 grid-rows-2 place-items-center">
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content w-24 rounded-full">
                  <span class="text-3xl">{user?.nombre_completo.charAt(0)}</span
                  >
                </div>
              </div>
              <p>{user?.nombre_completo}</p>
              <LogoutButton client:visible />
            </div>
          </div>
        </ul>
      </div>
    </div>
  </body>
</html>
