---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ClientRouter } from "astro:transitions";
import Header from "@components/gui/Header.astro";
import Footer from "@components/gui/Footer.astro";
import "bootstrap-icons/font/bootstrap-icons.css";
import NavBarServer from "@components/gui/NavBarServer.astro";
import SideBar from "@components/gui/SideBar.astro";
import "../styles/global.css";
Astro.response.headers.set(
  "Cache-Control",
  "public, s-maxage=360, stale-while-revalidate=180"
);
---

<!doctype html>
<html lang="es" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Cuerpo academico de cómputo distribuido del Instituto Tecnologico Superior de los Ríos"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="w-screen h-screen drawer overflow-x-clip">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content h-full w-full" id="scroll-container">
      <Header />
      <NavBarServer />
      <slot class="px-4" />
      <Footer />
    </div>
    <div class="drawer-side z-50">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
      ></label>
      <SideBar />
    </div>
  </body>
</html>
<style is:global>
  * {
    scroll-behavior: smooth;
  }
  main {
    min-height: 80%;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const isDark = JSON.parse(localStorage.getItem("isDark") ?? "false");
    if (isDark) {
      document.documentElement.setAttribute("data-theme", "night");
    } else {
      document.documentElement.setAttribute("data-theme", "winter");
    }
  });
</script>
