---
import Breadcumb from "@components/breadcumb/Breadcumb.astro";
import ListaProyectosMiembros from "@components/listas/ListaProyectosMiembros.vue";
import Layout from "@layouts/Layout.astro";

const proyectos = await fetch("http://localhost:4321/api/proyectos").then(
  (res) => res.json()
);
---

<Layout title="Articulos publicados">
  <main class="prose max-w-full p-4">
    <Breadcumb
      items={[{ name: "Producción academica" }, { name: "Proyectos" }]}
    />
    <h1>Proyectos realizados</h1>
    <p>
      Lista de todos los proyectos realizados por los miembros del cuerpo
      académico de Cómputo Distribuido.
    </p>
    <ListaProyectosMiembros
      data={proyectos?.response ?? []}
      rows={20}
      client:idle
    />
  </main>
</Layout>
